@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.btn-primary {
    padding: 5px 20px;
}

.container {
    font-family: 'Indie Flower', cursive, sans-serif;
    letter-spacing: 1.5px;
}

.app_title {
    font-family: 'Indie Flower', cursive, sans-serif;
    margin: 0;
    letter-spacing: 2px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}